<template>
  <div id="app">
    <<%=nameKebab%>></<%=nameKebab%>>
  </div>
</template>

<script lang="ts">
import Vue, { VueConstructor } from "vue";
import <%=name%>Component from "../src/index";

Vue.use(<%=name%>Component, {});

export default Vue.extend({});
</script>
